body {
  font-family: sans-serif;
  border: 5px solid black;
}

.product-title {
  text-align: center;
  text-transform: uppercase;

  background-color: #ddd;
}

.price {
  font-size: 2rem;
}

.shipping {
  font-size: 0.8rem;
  color: #888;
  text-transform: uppercase;
}

.more-info:link,
.more-info:visited {
  color: #000;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.details-list {
  list-style: lower-roman;
}

.add-cart {
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
